@using Elyze.Models.Gen;
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using System.Linq;
@using Elyze.Data;

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model Elyze.Models.Gen.StoriciCreateFormView
@{
    ViewData["Title"] = "Importa inserimenti";
    Layout = "~/Views/Shared/_Page.cshtml";
}

@await Html.PartialAsync("~/Views/Shared/header/_pages.cshtml")
@await Html.PartialAsync("~/Views/Shared/Title/_TitlePage.cshtml", @ViewData["Header"])

<div class="area-contents-form">
    <form asp-action="ImportaInserimenti" enctype="multipart/form-data" method="post">
        <div>
            <label for="formFileLg" class="form-label">@SharedLocalizer["File"]</label>
            <input name="files" multiple type="file" class="form-control form-control-lg" id="formFileLg">
        </div>

        <div class="form-footer">
            <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-success btn-lg px-5 py-2 mt-2 fixed-btn-width" />
            <button asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary btn-lg px-5 py-2 mt-2 fixed-btn-width">@SharedLocalizer["Back"]</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
