<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary" onclick="open_modal('modal-info')">
    Launch demo modal
</button>*@
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<script>
    $(document).ready(function () {
        open_modal('modal-info')
    })
</script>

<!-- Modal -->
<div class="modal fade" id="modal-info" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="exampleModalLabel">Redirect</h5>
                <button type="button" class="btn-close" onclick="close_modal(false)" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark">
                @SharedLocalizer[ViewData["Redirect"].ToString()]
            </div>
            <div class="modal-footer text-dark">
                <button onclick="close_modal(true)" class="btn btn-primary" name="in_confirm_insert" id="confirm-info-button">Ok</button>
            </div>
        </div>
    </div>
</div>


