@using Elyze.Models.Account
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<div class="area-contents-form">
    <h1>@SharedLocalizer["ForgotPasswordConfirmation"]</h1>
    <p>
        @SharedLocalizer["ForgotPasswordConfirmationInfo"]
    </p>
</div>