@using Elyze.Models.Account
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@model string

<div class="area-contents-form">
    <h1>@SharedLocalizer["ConfirmResetPassword"]</h1>
    <p>
        @SharedLocalizer["ConfirmResetPasswordInfo"]  <a asp-action="Login" asp-route-id=@Model>@SharedLocalizer["BackToLogin"]</a>.
    </p>
</div>